header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #1B1B21;
}

header div {
  width: 414px;
  height: 736px;
}

header img {
  margin: 174px 130px 200px;

  width: 154px;
  height: 140px;
}

header p {
  font-family: 'Holtwood One SC', serif;
  text-align: center;
  color: #FFFFFF;
}