@import "reset.css";
@import "header.css";
@import "section.css";
html {
    position: fixed;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #1B1B21;
}

body > * > div {
    position: relative;
    padding: 0 32px;

    width: 350px;
    height: 100%;
    max-height: 736px;
}
input {
    padding: 8px 4px;

    background-color: #25252D;
    border: none;
    border-bottom: 2px solid #FFFFFF;

    width: 350px;
    font-size: 18px;
    color: #FFFFFF;
}